.field-div{
    height:50px;
    width:70%;
    display:grid;
    grid-template-columns: 10% 40% 40% 10%;
    justify-content:space-between;
    align-items: center;
    background-color: #393E46;
    margin-bottom: 0.5rem;
    border-radius: 5px;
}
.field-div div{
    display: flex;
    justify-content: center;
    align-items: center;
}
button:focus{
    outline:none;
}