*{
  margin:0 ;
  padding:0;
}
 body{
  font-family: 'Open Sans', sans-serif !important;
  font-size: 1rem !important;
  background-color:#222831 !important;
  color:#eeeeee !important;
}
a{
  text-decoration: none !important;
  color:#eeeeee !important;
}
